* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1425px;  
    margin: 0 auto;  
}
body {
    background-color: #EFE8F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* STYLE HEADING */

h1 {
    color: #5154B2;
    font-size: 49px; 
}

h2 {
    color: #9B85CB;
    font-size: 49px;
} 

h3 {
    color: #000000;
    font-size: 31px;
}

h4 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
   h5 {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold; 
    text-align: center; 
}

p {
    color: #000000;
    font-size: 16px;
    font-weight: normal; 
    text-align: left; 
}

/* NAVIGATION BAR */

.menu {
    background-color: #EFE8F1;
    border-bottom: 5px solid #EFE8F1;  
    width: 100%;
    height: 100px;        
    padding-left: 50px;
    position: fixed;
    top:0;
}
ul {
    display: flex;    
    flex-direction: row; 
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
li {
    color:#5154B2;
    display: block; 
    font-weight: normal;  
    font-size: 25px;
    padding-right: 10px;
    list-style-type: none;  
}
.menu li.active, .menu li:hover {
    background-color: #D9C5E4;
    border-bottom: 5px solid #D9C5E4;
}
.menu a {
    color:#5154B2;
    text-decoration: none;
}
/*____________________*/


/* MAIN */

.biografia {
    margin-top: 150px;
    margin-left: 80px;
}
.formazione {
    width: 100%;
    background-color: #EFE8F1;
    height: auto;
    display: flex;
    margin: 60px auto;
}
.formazione_text {
    float: left;
    width: 50%;
    margin-left: 60px;
    margin-top: 60px;
}
.formazione_text > p {
    margin-top: 40px;
}
.formazione_img > img {
    float: right;
    width: 500px;
    height: 500px;
    margin-left: 253px;
    margin-top: 40px;
}
.esperienze {
    width: 100%;
    background-color: #EFE8F1;
    height: auto;
    display: flex;
    justify-content: center;
    column-gap: 0;
    margin: 60px auto;
    flex-direction:row-reverse;
}
.esperienze_text {
    width: 50%;
    margin-top: 80px;
    margin-right: 60px;
}
.esperienze_text > p {
    margin-top: 40px;
}
.esperienze_img {
    width: 60%; 
    height: auto;
    margin-top: 80px;
}
.esperienze_img > img {
    float: left;
    width: 500px;
    height: 500px; 
    margin-left: 0;

}
.skills {
    width: 100%;
    background-color: #EFE8F1;
    height: auto;
    display: flex;
    margin: 60px auto;
}
.skills_text {
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 60px;
}
.skills_text > p {
    margin-top: 40px;

}
.skills_img {
    margin: auto;
    width: 50%;
}
.skills_img > img {
  width: 500px; 
  height: 500px; 
  float: right;
  margin-left: 253px;
}

/* FOOTER */

.footer-container {
    border-top: 1px solid #5154B2; 
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #5154B2;
	color: #fff;
}
.footer-social {
    color:#FFFFFF;
    text-align: center;
    margin: 30px auto;
}
.footer-social a {
    color: #FFFFFF;
    text-decoration: none;
}