* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1425px;  
    margin: 0 auto;  
}
body {
    background-color: #EFE8F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* STYLE HEADING */

h1 {
    color: #5154B2;
    font-size: 49px; 
}

h2 {
    color: #9B85CB;
    font-size: 49px;
} 

h3 {
    color: #000000;
    font-size: 31px;
}
   
h4 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold; 
    text-align: center; 
}

p {
    color: #000000;
    font-size: 16px;
    font-weight: normal; 
    text-align: left; 
}

/* NAVIGATION BAR */

.menu {
    background-color: #EFE8F1;
    border-bottom: 5px solid #EFE8F1;
    height: 100px;
    width: 100px;        
    margin-top: 50px;
    margin-left: 50px;
}
ul {
    display: flex;    
    flex-direction: row; 
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
li {
    color:#5154B2;
    display: block; 
    font-weight: normal;  
    font-size: 25px;
    padding-right: 10px;
    list-style-type: none;  
}
.menu li.active, .menu li:hover {
    background-color: #D9C5E4;
    border-bottom: 5px solid #D9C5E4;
}
.menu a {
    color:#5154B2;
    text-decoration: none;
}
/*_____________________*/



/* MAIN */

.arte {
    width: 100%;
    background-color: #EFE8F1;
    height: 500px;
    display: flex;
    margin-left: 50px;
    margin-top: 150px;
}
.arte_text {
    float: left;
    width: 50%;
}
.arte_img {
    float: right;
    width: 50%;
}
.colore {
    width: 100%;
    background-color: #EFE8F1;
    height: 500px;
    display: flex;
    margin-left: 50px;
}
.colore_text {
    float: right;
    width: 50%;
}
.colore_img {
    float: left;
    width: 50%;
}
.natura {
    width: 100%;
    background-color: #EFE8F1;
    height: 500px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 60px;
}
.natura_text {
    float: left;
    width: 50%;
}
.natura_img {
    float: right;
    width: 50%;
}


/* FOOTER */

.footer-container {
    border-top: 1px solid #5154B2; 
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #5154B2;
	color: #fff;
}
.footer-social {
    color:#FFFFFF;
    text-align: center;
    margin: 30px auto;
}
.footer-social a {
    color: #FFFFFF;
    text-decoration: none;
}