* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1425px;  
    margin: 0 auto;  
}
body {
    background-color: #EFE8F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* STYLE HEADING */

h1 {
    color: #5154B2;
    font-size: 49px; 
}
   
h2 {
   color: #9B85CB;
   font-size: 49px;
} 
   
h3 {
   color: #000000;
   font-size: 31px;
}
   
h4 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold; 
    text-align: center; 
}

p {
    color: #000000;
    font-size: 16px;
    font-weight: normal; 
    text-align: left; 
}

/* NAVIGATION BAR */

.menu {
    background-color: #EFE8F1;
    border-bottom: 5px solid #EFE8F1;  
    width: 100%;
    padding-block: 50px;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-around;
}
.menu > .nav {
    display: flex;    
    align-items: center;
    width: 50%;
}
li {
    display: block; 
    font-weight: normal;  
    font-size: 25px;
    padding-right: 10px;
    list-style-type: none;  
}
.menu ul li a {
    color:#5154B2;
    text-decoration: none;
}
ul:hover > :not(:hover) {
    opacity: .5;

}
summary > div {
    width: 42px;
    height: 5px;
    background-color: #5154B2;
    margin-block: 3px;
    border-radius: 5px;
}
summary {
    list-style: none !important;
}
li {
    display: inline;
    margin-inline: 10px;
}
details {
    display: none;
}
/*________________*/

/* MAIN */

button {
        background-color: #5154B2;
        border: none;
        color: white;
        padding: 15px 32px;
        margin-left: 80px;
        margin-top: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        align-items: left;
        margin: 40px 40px 0 0;
    }
    button:hover {
        background-color: #9B85CB;
    }
.progetti_ux {
     background-color: #EFE8F1;
     width: 80%;
     text-align: left;
     margin: 150px auto;
}
.progetti_ux > p {
    margin-top: 50px;
}
.progetti_ui {
    background-color: #EFE8F1;
    width: 80%;
    text-align: left;
    margin: 60px auto;
}
.progetti_ui > p {
    margin-top: 50px;
}
.progetti_grafica {
    background-color: #EFE8F1;
    width: 80%;
    text-align: left;
    margin: 60px auto;   
}
.progetti_grafica  > p {
    margin-top: 50px;
    width: 70%;
}

.progetto_img > img {
    width: 100%;
    height: auto;
}

.interfaccia_img > img {
    width: 100%;
    height: auto;
}
.grafiche_img {
    background-color: #9B85CB;
}
.grafiche_img > img {
    background-color: #9B85CB;
    width: 100%;
    height: auto;
}
.buttons_ux {
    width: 100%;
}
.buttons_ui {
    width: 100%;
}
.buttons_ui button:first-child{
    margin-left: 0%;
}
.orizon_ig > img {
    width: 100%; 
    height: auto;
}

/* FOOTER */

.footer-container {
    border-top: 1px solid #5154B2; 
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #5154B2;
	color: #fff;
}
.footer-social {
    color:#FFFFFF;
    text-align: center;
    margin: 30px auto;
}
.footer-social a {
    color: #FFFFFF;
    text-decoration: none;
}


@media (320px <= width <= 429px) {                  /* Mobile Style */
    details {
       width: 100%;
       display: block;
       text-align: right;
    }
    .menu > .nav {
       display: none;
    }
    .nav {
       display: none;
    }
    details ul {
       display: flex;
       width: 100%;
       flex-direction: column; 
       align-items: right;
    }
    details a {
       font-size: 35px;
    }
    .menu {
       justify-content: flex-end;
       width: 100%;
    }
    summary {
    width: 100%;
    text-align: right;
    list-style: none !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 25px;
    }
    .container {
        width: 100%;
    }
    h1 {
        margin-top: 60px;
        font-size: 20px; 
        text-align: center;
    }
    p {
        width: 80%;
        font-size: 12px; 
        text-align: center;
        margin: 50px auto;
    }
    .progetti_ux {
        width: 90%;
        margin-left: 15px;
    }
    .progetti_ui {
        width: 90%;
        margin-left: 15px;
    }
    .progetti_grafica {
        width: 90%;
        margin-left: 15px;
    }
    button {
     display: inline-block;
     background-color: #5154B2;
     border: none;
     color: white;
     padding: 15px 32px;
     margin: 15px auto;
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     width: 100%;
    }

}

@media (430px <= width <= 1024px) {           /* Tablet Style */
    .menu {
        justify-content: flex-start;
    }
    .nav {
        width: 100%; 
    }              
    .nav > li {
        margin-inline: 10px;
    }
    .menu ul li a {
        font-size: 16px;
    }
    .container {
        width: 100%;
    }
    .header {
        width: 100%;
        margin: 150px auto;
        text-align: center;
    }
    h1 {
        font-size: 31px;
        text-align: center;
    }
    p {
        font-size: 12px;
        text-align: center;
    }
    .progetti_ux {
        width: 80%;
        margin: 150px auto;
    }
    .progetti_ux > p {
        width: 80%; 
        margin: 40px auto;
    }
    .progetti_ui {
        width: 80%; 
        margin: 40px auto;
    }
    .progetti_ui > p {
        width: 80%;
        margin: 40px auto;
    }
    .progetti_grafica {
        width: 100%;
        margin: 40px auto;
    }
    .progetti_grafica > p {
        width: 80%;
        margin: 40px auto;
    }
    button {
        display: inline-block;
        background-color: #5154B2;
        border: none;
        color: white;
        padding: 15px 32px;
        margin: 15px auto;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        width: 100%;
        
    }
   
   

}

