/* 
    IMPORTANTISSIMO:

    -> si aggiunge il margin solo ad elementi di tipo inline es: button, a, span ecc ecc
    -> si aggiunge il padding a elementi di tipo block es: div, h1, p, ecc ecc

    => aggiungere il PADDING a elementi di tipo BLOCK fa si che l'elemento contenitore rispetta le sue caratteristiche
    e non viene modificato lo spazio tra gli elementi.

    => aggiungere il PADDING a elementi di tipo INLINE crea lo spazio tra il contenitore e il borde dell'elemento spesso.

    => aggiungere il MARGIN a elementi di tipo BLOCK fa si che la distanza impostata viene calcolata dal bordo dell'elemto all'esterno dello stesso,
    QUESTO FA SI CHE LA DISTANZA CREATA CON IL MARGIN VIENE CALCOLATA FUORI DAL CONTENITORE PADRE DELL'ELEMENTO E QUINDI NON DAL BORDO DELL'ELEMENTO
    IN CUI è STATO APPLICATO IL MARGIN AL CONTENITORE ESTERNO.
    (questo perchè gli elementi che creiamo non hanno un altezza fissa ma varia in base al contenuto).

    => aggiungere il MARGIN a elementi di tipo INLINE non viene calcolata all'infuori del contenitore padre dell'elemento stesso.

    => utilizzare il margin per un elemento block per allinearlo al centro con margin: 0 auto e il padding per il top.
*/



* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 1425px;  
    margin: 0 auto;  
}

body {
    background-color: #EFE8F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* STYLE HEADING */

h1 {
    color: #5154B2;
    font-size: 49px; 
}
   
h2 {
   color: #9B85CB;
   font-size: 49px;
} 
   
h3 {
   color: #000000;
   font-size: 31px;
}
   
h4 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold; 
    text-align: center; 
}


p {
    color: #000000;
    font-size: 16px;
    font-weight: normal; 
    text-align: left; 
}

/* NAVIGATION BAR */

.menu {
    background-color: #EFE8F1;
    border-bottom: 5px solid #EFE8F1;
    height: 100px;  
    width: 100%;         
    padding-left: 50px;
    padding-top: 97px;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%; 
    width: 100%;  
}
li {
    color:#5154B2;
    /* display: block;  il tag li è già un tag block*/
    font-weight: normal;
    font-size: 25px;
    padding-right: 10px;
    list-style-type: none;
}
.menu li.active, .menu li:hover {
    background-color: #D9C5E4;
    border-bottom: 5px solid #D9C5E4;
}
/* _______________ */


/* FOOTER */

.footer-container {
    border-top: 1px solid #5154B2; 
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #5154B2;
	color: #fff;
}
.footer-social {
    color:#FFFFFF;
    text-align: center;
    margin: 30px auto;
}


button {
    background-color: #5154B2;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 80px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: left;
    margin: 40px;
}


button:hover {
    background-color: #9B85CB;
}



.wrapper-progetti-ux {
    background-color: #EFE8F1;
    width: 1200px;
    text-align: left;
    margin: 60px 80px;
}
.wrapper-progetti-ux > p {
    margin-top: 50px;
}
.progetti_ui {
    background-color: #EFE8F1;
    width: 1200px;
    text-align: left;
    margin: 60px 80px;
}
.progetti_ui > p {
    margin-top: 50px;
    width: 70%;
}
.progetti_grafica {
    background-color: #EFE8F1;
    width: 1200px;
    text-align: left;
    margin: 60px 80px;   
}
.progetti_grafica  > p {
    margin-top: 50px;
    width: 70%;
}

.progetto_img > img {
    width: 100%;
    height: auto;
}

.interfaccia_img > img {
    width: 100%;
    height: auto;
}
.grafiche_img {
    background-color: #9B85CB;
}
.grafiche_img > img {
    background-color: #9B85CB;
    width: 100%;
    height: auto;
}
.buttons_ux {
    width: 800px;
}
.buttons_ux button:first-child {
    margin-left: 0%;  
}
.buttons_ui {
    width: 800px;
}
.buttons_ui button:first-child{
    margin-left: 0%;
}
.orizon_ig > img {
    width: 100%; 
    height: auto;
}
