/* 

    NOTE:
    1)

    --> prima di continuare studiare questo argomento su internet:

    _ Reset pagina degli elementi
    (di default i browser inseriscono degli spazi con margini, preimpostati da loro e questo influisce sul nostro codice a livello
    di spazio tra i tag).
    _ cercare su internet --> asterisco selettore css

    --> chiedere ad Ale come si resetta la pagina.

    2)
    quando si creano i "contenitori" quindi i div principali del progetto, bisogna inserire la *larghezza espressa in pixel
    questo ti permette sia di avere un allineamento preciso degli elementi ai bordi che al centro della pagina inserendo
    la seguente riga di codice:
    margin: 0 auto;

    ti permettera di allineare il div contenitori con una lunghezza al centro della pagina

    così da cancellare il padding: 80px che hai inserito.

   * IMPORTANTE:
   quando si inizia un progetto bisogna prima di tutto capire a che dimensioni lo si sta progettando, si può decidere in base
   alla dimensione del viwport del proprio schermo come dimensione iniziale e poi da li con le media query impoostare i valori
   degli altri viwport (pc portatile - tablet - smarthphone.)

*/


body  {
      background-color: #EFE8F1;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
     h1 {
         color: #5154B2;
         font-size: 49px; 
    }
     h2 {
         color: #9B85CB;
         font-size: 49px;
    } 
     h3 {
         color: #000000;
         font-size: 31px;
    }
     h4 {
         color: #FFFFFF;
         font-size: 25px;
         font-weight: bold;
         text-align: center;
     }
     p {
         color: #FFFFFF;
         font-size: 16px;
         font-weight: bold; 
         text-align: center; 
    }
.menu {
    background-color: #EFE8F1;
    border-bottom: 5px solid #EFE8F1;
    display: flex;          /* ricordati che questa regola deve essere assegnata al tag che lo precede. */
    width: 100%;        
    margin-top: 50px;

}
ul {
    display: flex;      
}
li {
    /* la line-height determina la larghezza della riga di testo,
        Quanto spazio intercorre tra una riga ed un altra del testo. */
    color:#5154B2;
    display: block; 
    font-weight: normal;  
    font-size: 25px;
    line-height: 30px;      /* line-height */
    padding-right: 10px;
    list-style-type: none;  
}
.menu li.active, .menu li:hover {
    background-color: #D9C5E4;
    border-bottom: 5px solid #D9C5E4;
}
.footer-container {
    border-top: 1px solid #5154B2; 
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #5154B2;
	color: #fff;
}
.footer-social {
    color:#FFFFFF;
    text-align: center;
}
.header {
    background-color: #EFE8F1;
    align-items: left;
    margin: auto;
    }
.lavori {
    background-color: #EFE8F1;
    align-items: left;
    margin: auto;
}
.lavori_img {
    background-color: #D9C5E4;
    width: 100%;
    align-items: center;
    margin: auto;
}
