body {
      background-color: #EFE8F1;
      margin: 0%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
     h1 {
         color: #5154B2;
         font-size: 49px;  
    }
     h2 {
         color: #9B85CB;
         font-size: 49px;
    } 
     h3 {
         color: #000000;
         font-size: 31px;
    }
     h4 {
         color: #FFFFFF;
         font-size: 25px;
         font-weight: bold;
     }
     p {
         color: #FFFFFF;
         font-size: 16px;
         font-weight: bold;  
    }
.ul#menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 31px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu {
    background-color: #EFE8F1;
    border-bottom: 5px solid #EFE8F1;
    display: flex;
    width: 100%;
    float: left;

}
ul {
    display: flex;
}
li {
    color:#5154B2;
    display: block; 
    font-weight: medium;
    font-size: 25px;
    line-height: 30px;
    padding-right: 10px;
    list-style-type: none;
    text-align: left;
}
.menu li.active, .menu li:hover {
    background-color: #D9C5E4;
    border-bottom: 5px solid #D9C5E4;
}