body {
      background-color: #EFE8F1;
      margin: 0%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
     h1 {
         color: #5154B2;
         font-size: 49px; 
         text-align: left; 
    }
     h2 {
         color: #9B85CB;
         font-size: 49px;
         text-align: left;
    } 
     h3 {
         color: #000000;
         font-size: 31px;
         text-align: left;
    }
     h4 {
         color: #FFFFFF;
         font-size: 25px;
         font-weight: bold;
         text-align: center;
     }
     p {
         color: #FFFFFF;
         font-size: 16px;
         font-weight: bold; 
         text-align: center; 
    }
.menu {
    background-color: #EFE8F1;
    border-bottom: 5px solid #EFE8F1;
    display: flex;
    width: 100%;
    float: left;

}
ul {
    display: flex;
}
li {
    color:#5154B2;
    display: block; 
    font-weight: medium;
    font-size: 25px;
    line-height: 30px;
    padding-right: 10px;
    list-style-type: none;
    text-align: left;
}
.menu li.active, .menu li:hover {
    background-color: #D9C5E4;
    border-bottom: 5px solid #D9C5E4;
}
.footer-container {
    border-top: 1px solid #5154B2; 
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #5154B2;
	color: #fff;
}
.footer-social {
    color:#FFFFFF;
    text-align: center;
}
